* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

html, body {
  height: 100%;
}

a {
  text-decoration: none;
  color: black;
}

.container {
  width: 990px;
  margin: 0 auto;
}

header {
  width: 100%;
  margin: 0 auto;
  font-size: 1.1rem;
  padding-top: 25px;
  height: 175px;
  background-color: white;
}
header h1 {
  font-family: 'PT Sans Narrow', 'sans-serif';
  font-weight: 400;
  height: 100%;
  font-size: 1em;
  text-align: center;
  padding-top: 10px;
}

.navbar-wrapper {
  margin-top: 10px;
  background-color: white;
  width: 100%;
  height: 80px;
}
.navbar-wrapper nav {
  height: 100%;
  margin: 0 auto;
}
.navbar-wrapper a {
  font-family: "Moonflower-bold";
  position: relative;
  display: inline-block;
  text-align: center;
  font-size: 2em;
  padding-top: .75em;
  width: 15%;
  height: 100%;
  margin-left: 5%;
  margin-right: 5%;
  font-weight: 800;
  transition: 600ms;
  transition-property: border-bottom;
  border-bottom: 1px solid transparent;
}
.navbar-wrapper a::after {
  position: absolute;
  top: 95%;
  left: 0;
  width: 100%;
  height: .5px;
  background: #000;
  content: '';
  opacity: 0;
  -webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  -moz-transition: height 0.3s, opacity 0.3s, -moz-transform 0.3s;
  transition: height 0.3s, opacity 0.3s, transform 0.3s;
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  transform: translateY(-10px);
}
.navbar-wrapper a:hover::after {
  height: 3px;
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  transform: translateY(0px);
}

.logo {
  display: block;
  width: 100px;
  margin: 0 auto;
}

.social {
  clear: both;
  width: 100%;
  font-size: 1.5rem;
  margin: 0 auto 30px auto;
}
.social a {
  padding-top: 1em;
  text-align: center;
  display: inline-block;
  width: 25%;
}
.social a i {
  font-size: 1.5em;
}

.about-text {
  display: block;
  margin: 0 auto;
  width: 60%;
}

.slider {
  margin-top: 225px;
  position: relative;
}

#wrapper {
  background-color: #fff;
  width: 100%;
  height: 450px;
  margin-top: -225px;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 0;
}

#carousel img {
  display: block;
  float: left;
}

#prev, #next {
  background-color: #FAF4EB;
  background-color: rgba(250, 244, 235, 0.5);
  opacity: .7;
  display: block;
  height: 450px;
  width: 50%;
  top: 0;
  position: absolute;
  transition: 400ms ease-in-out;
  transition-property: background-color;
}

#prev:hover, #next:hover {
  background-color: rgba(250, 244, 235, 0.1);
  opacity: 1;
}

#prev {
  left: -495px;
}

#next {
  right: -495px;
}
