* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

a {
  text-decoration: none;
  color: black;
}

.container {
  width: 860px;
  margin: 0 auto;
}

header {
  width: 100%;
  margin: 0 auto;
  font-size: 1.1rem;
  padding-top: 25px;
  height: 175px;
  background-color: white;
}
header h1 {
  font-family: 'PT Sans Narrow', 'sans-serif';
  font-weight: 400;
  height: 100%;
  font-size: 1em;
  text-align: center;
  padding-top: 10px;
}

.navbar-wrapper {
  margin-top: 30px;
  background-color: white;
  width: 100%;
  height: 80px;
}
.navbar-wrapper nav {
  height: 100%;
  margin: 0 auto;
}
.navbar-wrapper a {
  font-family: "Moonflower-bold";
  display: inline-block;
  text-align: center;
  font-size: 2em;
  padding-top: .75em;
  width: 15%;
  height: 100%;
  margin-left: 5%;
  margin-right: 5%;
  font-weight: 800;
  transition: 600ms;
  transition-property: border-bottom;
  border-bottom: 1px solid transparent;
}
.navbar-wrapper a:hover {
  border-bottom: 2px solid #5B5B5B;
}

.logo {
  display: block;
  width: 100px;
  margin: 0 auto;
}

.slideshow {
  width: 100%;
  background-color: white;
}

.slides li:first-child img {
  margin-left: 100px;
}

.social {
  clear: both;
  width: 100%;
  font-size: 1.5rem;
  margin: 0 auto 30px auto;
}
.social a {
  padding-top: 1em;
  text-align: center;
  display: inline-block;
  width: 25%;
}
.social a i {
  font-size: 1.5em;
}

.about-text {
  display: block;
  margin: 0 auto;
  width: 60%;
}
