* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

html, body {
  height: 100%;
}

a {
  text-decoration: none;
  color: black;
}

.container {
  width: 1000px;
  margin: 0 auto;
}

header {
  width: 100%;
  margin: 0 auto;
  font-size: 1.1rem;
  padding-top: 50px;
  height: 175px;
  background-color: white;
}
header h1 {
  font-family: 'PT Sans Narrow', 'sans-serif';
  font-weight: 400;
  height: 100%;
  font-size: 1em;
  text-align: center;
  padding-top: 10px;
}

.navbar-wrapper {
  margin-top: 45px;
  background-color: white;
  width: 100%;
  height: 80px;
}
.navbar-wrapper nav {
  height: 100%;
  margin: 0 auto;
}
.navbar-wrapper a {
  font-family: "Moonflower-bold";
  position: relative;
  display: inline-block;
  text-align: center;
  font-size: 2em;
  padding-top: .75em;
  width: 15%;
  height: 100%;
  margin-left: 5%;
  margin-right: 5%;
  font-weight: 800;
  transition: 600ms;
  transition-property: border-bottom;
  border-bottom: 1px solid transparent;
}
.navbar-wrapper a::after {
  position: absolute;
  top: 95%;
  left: 0;
  width: 100%;
  height: .5px;
  background: #000;
  content: '';
  opacity: 0;
  -webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  -moz-transition: height 0.3s, opacity 0.3s, -moz-transform 0.3s;
  transition: height 0.3s, opacity 0.3s, transform 0.3s;
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  transform: translateY(-10px);
}
.navbar-wrapper a:hover::after {
  height: 3px;
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  transform: translateY(0px);
}

.logo {
  display: block;
  width: 100px;
  margin: 0 auto;
}

.social {
  clear: both;
  width: 100%;
  font-size: 1.5rem;
  margin: 0 auto 30px auto;
}
.social a {
  padding-top: 1em;
  text-align: center;
  display: inline-block;
  width: 25%;
}
.social a i {
  font-size: 1.5em;
}

.slide {
  width: 1000px;
  height: 450px;
  overflow: hidden;
  background-size: cover;
}

.slide-title {
  box-sizing: border-box;
  width: 200px;
  height: 100px;
  margin: 0% auto;
  font-family: "moonflower-bold";
  font-size: 2em;
  margin-top: 200px;
  color: black;
  text-align: center;
  background-color: white;
  border: 5px solid black;
  position: relative;
}
.slide-title h2 {
  position: relative;
  left: 0px;
  bottom: 20px;
}

.slider {
  height: 450px;
  padding-top: 225px;
  position: relative;
}

#wrapper {
  background-color: #fff;
  width: 100%;
  margin-top: -225px;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 0;
}

#carousel .slide {
  display: block;
  height: 450px;
  float: left;
}

#prev, #next {
  background-color: #FAF4EB;
  background-color: rgba(255, 255, 255, 0.7);
  display: block;
  height: 450px;
  width: 50%;
  top: 0;
  position: absolute;
  transition: 400ms ease-in-out;
  transition-property: background-color;
}

#prev:hover, #next:hover {
  background-color: rgba(255, 255, 255, 0.4);
  opacity: 1;
}

#prev {
  left: -500px;
}

#next {
  right: -500px;
}

.slide1 {
  background-image: url("../img/cover-photo.jpg");
}

.slide2 {
  background-image: url("../img/spit.jpg");
}

.slide3 {
  background-image: url("../img/scientist.jpg");
}

.slide4 {
  background-image: url("../img/stairs.jpg");
}

section.about {
  background-color: white;
  width: 50%;
  padding: 25px 0;
  border: 5px solid black;
  margin: 125px auto 125px auto;
}
section.about h1 {
  width: 75px;
  margin: 0 auto;
  border-bottom: 2px solid black;
  text-align: center;
  font-family: moonflower-bold;
}

.about-container {
  padding: 10px 0;
  height: 100%;
  background-color: #ECECEC;
}

.about-text {
  font-family: 'PT Sans Narrow', 'sans-serif';
  display: block;
  margin: 0 auto;
  width: 50%;
}
