// GLOBAL ELEMENTS
*{
  box-sizing: border-box;
}
html{
  font-size: 16px;
}
a{
  text-decoration: none;
  color:black;
}
// UTILITY CLASSES
.container{
  width: 860px;
  margin: 0 auto;
}
// CUSTOM STYLES
header{
  width: 100%;
  margin: 0 auto;
  font-size: 1rem;
  padding-top: 25px;
  height: 200px;
  h1{
    height: 100%;
    font-size: 1em;
    text-align: center;
    padding-top: 10px;
  }
}
section.navbar{
  background-color: #EFEFEF;
  height: 5em;
}
nav{
  width: 100%;
  height: 80px;
  margin: 0 auto;
  a{
    font-family: "Moonflower-bold";
    display: inline-block;
    text-align: center;
    font-size: 2em;
    padding-top: .75em;
    height: 100%;
    width: 15%;
    margin-left: 5%;
    margin-right: 5%;
    font-weight: 800;
    transition: 600ms;
    &:hover{
      border-bottom: 3px solid black
    }
  }
}
.logo{
  display: block;
  width: 100px;
  margin: 0 auto;
}
.carousel{
  height: 360px;
  width: 100%;
}
.social{
  width: 100%;
  font-size: 1rem;
  margin: 0 auto 30px auto;
  a{
    padding-top: 1em;
    text-align: center;
    display: inline-block;
    width: 25%;
    i{
      font-size: 1.5em;
    }
  }
}
section.about{
}
.about-text{
  display: block;
  margin: 0 auto;
  width: 60%;
}
// HELPER CLASSES
